<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Watershed - A better way to manage shared expenses - Application for web, iphone, ipad and android</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/assets/css/landing.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/assets/js/jquery.js" type="text/javascript" charset="utf-8"></script>
   
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31598626-1']);
  _gaq.push(['_setDomainName', 'watershedapp.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
    <div class="outer"> 
    
    <div id="wrap" class="group">
        <div id="content">
    
    <div id="menu-nav">
    <ul id="menunav"> 
    <li id="menunav-blog" title="Blog"><a href="http://blog.watershedapp.com" target="_blank">Blog</a></li>
    <li id="menunav-press" title="Press"><a href="/press/" target="">Press</a></li>
    <li id="menunav-contact" title="Contact"><a href="/contact/"target="">Contact</a></li>
    <li id="menunav-spacer" title=""></li>
    <li id="menunav-twitter" title="Twitter"><a href="https://twitter.com/#!/watershedapp" target="_blank">Twitter</a></li>
    <li id="menunav-facebook" title="Facebook"><a href="http://watershedapp.facebook.com" target="_blank">Facebook</a></li>

    </ul>
    </div>

            <div id="login">
              <form action="/member/login/" method="post" id="login_form" class="aligned">
                  <input type="hidden" name="action" value="is_valid_member"/>
                  <input type="text" class="text" name="email_address" placeholder="Email Address" style=" width:140px; height:12px;"/>
                  <input type="password" class="text" name="password" placeholder="Password" style=" width:140px; height:12px;"/>
                  <input type="submit" style="width:40px; height:25px; font-size:1em;" class="button" name="commit" value="Login"/>
                  <a class="registerlink" href="/register/">Register</a><a class="registerlink" href="/forgot/password">forgot password</a></p>
              </form>       

    </div><!--login-->
    <div class="wrap">
        <div class="content">
            <img src="/assets/img/watershedicon.png" class="watershed-icon" alt=" "/>
            <img src="/assets/img/WS_landing_logo.png" class="watershed-title" alt="Watershed"/>
            <div class="tab">
                <div class="tab-content">
                    {% block content %}{% endblock %}  
                </div> <!--tab-content-->
            </div> <!--tab-->
        </div> <!--content-->
    </div> <!--wrap-->


            <div class="iphone">
            <img alt="iphone" src="/assets/img/iphone.png"/>
                <div id="iphone-overlay">
                <img alt="screen-shot-preload" src="/assets/img/screenshot6.2.png" width="239" height="359" id="iphone-top"/>
                </div> <!--overlay-->
        </div> <!--iphone-->
        
    <script src="/assets/js/slideshow.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            RunSlideShow("iphone-top", "iphone-overlay", "/assets/img/screenshot6.2.png; /assets/img/screenshot4.2.png; /assets/img/screenshot2.2.png; /assets/img/screenshot5.2.png", 8);
        });
    </script>

        
        </div>
    </div>
            <div id="footer">
          <div id="footer-inner">
        <p class="logo">
          <a href="/">
          <img src="/assets/img/ws-logo-footer.png" alt="Watershed"></a>
          Share &#43;  Stay Square
          </p><br/>
                  
        <ul id="footer-nav">
          <li>
            <a id="f-home" href="/about/">About</a>
          </li>
          <li>
            <a href="/faq/">FAQ</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/#!/watershedapp">Twitter</a>
          </li>
          <li>
            <a target="_blank" href="http://blog.watershedapp.com">Blog</a>
          </li>
          <li>
            <a href="/testimonials/">Testimonials</a>
          </li>   
          <li>
            <a href="/terms/">Terms</a>
          </li>
          <li>
            <a href="/privacy/">Privacy</a>
          </li>

        </ul>
        
          <p>Copyright &copy; 2011-<?php echo date("Y"); ?> Progger, LLC.   &#124;   Version (0.9.4.22)  &#124;  <a href="http://nytm.org/made">Handcrafted in Brooklyn, NY</a></p>
    </div>
  </div>
</body>
</html>