{% extends "outside_base.html" %}
{% block content %}
<p>Your privacy is critically important to us. We have a few fundamental principles:</p>

<li>We don’t ask you for personal information unless we truly need it. (We can’t stand services that ask you for things like your gender or income level for no apparent reason.)</li></br>
<li>We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.</li></br>
<li>We don’t store personal information on our servers unless required for the on-going operation of one of our services.</li>
{% endblock %}