{% extends "outside_base.html" %}
{% block content %}
<h3>Your Watershed Account</h3>

<p style="font-size:75%">If you create an account on the Website, you are responsible for maintaining the security of your account and its content, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the Website. You must not describe or assign content to your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Watershed may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause Watershed liability. You must immediately notify Watershed of any unauthorized uses of your account or any other breaches of security. Watershed will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</p><br/>

<h3>Termination</h3>

<p style="font-size:75%">Watershed may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Watershed account (if you have one), you may simply discontinue using the Website.</p>{% endblock %}